<p id="notice"><%= notice %></p>

<div class="container-fluid">

<p>
  <strong>Tender details:</strong>
  <%= @tender.tender_details %>
</p>

<p>
  <strong>Tender publish date:</strong>
  <%= @tender.tender_publish_date %>
</p>

<p>
  <strong>Tender due date:</strong>
  <%= @tender.tender_due_date %>
</p>

<p><strong><%= link_to "View Tender Paper", @tender.document.url, target: "_blank" %></strong><p>


<%= link_to 'Back', tenders_path %>
</div>
